html {
  height: 115%;
  width: 100%;
  background-size: cover;
  background-image: url("/img/AdobeStock_309120828.jpg");
  background-repeat: no-repeat;
  background-position: 0;
  overflow: hidden;
}

main {
  position: none;
  left: 0;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
  background-color: rgb(44, 47, 49);

  height: 5vh;
  width: 100%;
  box-shadow: 0px -5px 10px 2px white;
}

.nav-options {
  display: flex;
  margin: 0 8%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-options a {
  color: rgb(207, 207, 207);
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* navbar links*/
button {
  background-color: rgb(44, 47, 49);
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  height: 100%;
  outline: inherit;
}

#menuCollapsible {
  display: none;
  position: fixed;
  width: 10vw;
  height: 8vh;
  top: 5vh;
  left: 4%;

  align-items: center;
  justify-content: center;

  color: blue;
  background-color: rgb(44, 47, 49);
}

#orderNowCollapsible {
  display: none;
  position: fixed;
  width: 10vw;
  height: 9vh;
  top: 5vh;
  left: 25%;

  align-items: center;
  justify-content: center;

  color: blue;
  background-color: rgb(44, 47, 49);
}

#orderNowCollapsible a {
  margin: 1vh;
}

#jobsCollapsible {
  display: none;
  position: fixed;
  width: 10vw;
  height: 8vh;
  top: 5vh;
  left: 65.5%;

  align-items: center;
  justify-content: center;

  color: blue;
  background-color: rgb(44, 47, 49);
}

#contactCollapsible {
  display: none;
  position: fixed;
  width: 10vw;
  height: 8vh;
  top: 5vh;
  left: 86%;

  align-items: center;
  justify-content: center;

  color: blue;
  background-color: rgb(44, 47, 49);
}

a {
  text-decoration: none;
  color: rgb(207, 207, 207);
}

.info-wrapper {
  display: flex;
  justify-content: space-around;
  top: 12vh;
  position: relative;
  margin-inline: -10%;
  overflow-y: auto;
}

.left-info-pane {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 2%;
  color: rgb(207, 207, 207);

  overflow-y: auto;
  position: relative;

  width: 30vw;
  height: 40vh;
  /**margin: 5vh 2vw; */
}

.left-info-pane p,
.right-info-pane p {
  font-size: 2vh;
  margin-left: 5%;
  margin-right: 5%;
}

.logo-wrapper {
  position: fixed;
  width: 20%;
  height: 20%;
}

#logo {
  width: 100%;
  height: auto;
  background-size: cover;
}

.right-info-pane {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 2%;
  color: rgb(207, 207, 207);

  position: relative;
  overflow-y: auto;

  width: 30vw;
  height: 40vh;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4vh;
  background-color: rgb(44, 47, 49);
  text-align: right;

  color: rgb(207, 207, 207);
}
